@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: Konnect, sans-serif;
    font-size: 11px;
    background: #efeff2;;
}


button {
    cursor: pointer;
    font-family: Archivo, sans-serif;
}